<% layout('/layouts/boilerplate') -%>

<div class="row mt-5 ">
    <div class="alert alert-danger col-6 offset-3 d-flex justify-content-center" role="alert">
       <p><%= message %></p>
      </div>
</div>